@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
}

@* the fun starts here *@

 @section MainContent{
 
    <div class="intro-page">
        <div class="container">
            <h1>CNXDevSoft Team</h1>
            <p>We are...</p>
        </div>
    </div>

    <div class="wrapper">
        <article>
            <div class="container">
                <div class="single-portfolio">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="single-portfolio--slider">
                                <div>
                                    <img src="/media/1003/patiwat.jpg" alt="">
                                </div>
                               
                            </div>
                            <div class="single-portfolio--slider__dots"></div>
                            <br/>
                            <ul> 
                                <li>
                                    <span>GitHub</span>
                                    <a href="https://github.com/PatiwatPPh" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Visit My Git</a>
                                </li>
                            </ul>
                            <a href="/media/1035/sooddan-resume.pdf" class="button" target="_blank"><i class="fa fa-file" aria-hidden="true"></i> Download Resume</a>
                        </div>
                        <div class="col-md-7">
                            <h2>PATIWAT PHEWLA-ONG</h2>
                            <p>FullStack Developer who is love to learn new technology and exercise.
                                <br>
                                "Work hard Play hard"
                            </p>
                            <ul>
                                <li>
                                    <span>Position</span>
                                    CTO & SOFTWARE ENGINEER
                                </li>
                                <li>
                                    <span>Email</span>
                                    patiwat.phewlaong@cnxdevsoft.com
                                </li>
                                <li>
                                    <span>Tel.</span>
                                    095-6838855
                                </li>
                                <li>
                                    <span>Technologies</span>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> .NET(C#), .NET Core(C#)</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Java</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> SQL, SQL Server, Entity Framework, Linq</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> AngularJs, VueJs, HTML, JS, CSS </li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Azure</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> NodeJs</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Google Api</li>
                                </li>
                            </ul>
                           
                        </div>
                    </div>
                </div>
            </div>
        </article>

   
    </div>
 
 
 }