@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
}

@* the fun starts here *@

@section MainContent{
 
    <div class="intro-page">
        <div class="container">
            <h1>CNXDevSoft Team</h1>
            <p>We are...</p>
        </div>
    </div>

    <div class="wrapper">
        <article>
            <div class="container">
                <div class="single-portfolio">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="single-portfolio--slider">
                                <div>
                                    <img src="/media/1057/Noom.jpg" alt="Noom's photo">
                                </div>
                               
                            </div>
                            <div class="single-portfolio--slider__dots"></div>
                            <br/>
                            <!--<ul> -->
                            <!--    <li>-->
                            <!--        <span>GitHub</span>-->
                            <!--        <a href="https://github.com/PatiwatPPh" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Visit My Git</a>-->
                            <!--    </li>-->
                            <!--</ul>-->
                            <!--<a href="/media/1035/sooddan-resume.pdf" class="button" target="_blank"><i class="fa fa-file" aria-hidden="true"></i> Download Resume</a>-->
                        </div>
                        <div class="col-md-7">
                            <h2>PHORNTHEP CHOOLEAT</h2>
                            <p>Fullstack designer who has a passion to serve the best user experience.
                                <br>
                                "Nothing I can't do if I want to."
                            </p>
                            <ul>
                                <li>
                                    <span>Position</span>
                                    Fullstack designer
                                </li>
                                <li>
                                    <span>Email</span>
                                    phornthep.chooleat@cnxdevsoft.com
                                </li>
                                <li>
                                    <span>Tel.</span>
                                    095-4511818
                                </li>
                                <li>
                                    <span>Technologies</span>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> .NET(C#), .NET Core(C#)</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Spring boots(JAVA)</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> SQL, Firebase real-time database</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Angular, VueJs, ReactJs, Flutter</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Azure</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> NodeJs</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Facebook chatbot api, Line chatbot api</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Wordpress</li>
                                </li>
                            </ul>
                           
                        </div>
                    </div>
                </div>
            </div>
        </article>

   
    </div>
 
 
 }