@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
}

@* the fun starts here *@

 @section MainContent{
 
    <div class="intro-page">
        <div class="container">
            <h1>CNXDevSoft Team</h1>
            <p>We are...</p>
        </div>
    </div>

    <div class="wrapper">
        <article>
            <div class="container">
                <div class="single-portfolio">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="single-portfolio--slider">
                                <div>
                                    <img src="/media/1010/apichai-2.jpg" alt="">
                                </div>
                               
                            </div>
                            <div class="single-portfolio--slider__dots"></div>
                             <br/>
                            <ul> 
                                <li>
                                    <span>GitHub</span>
                                    <a href="https://github.com/aunsparrow" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Visit My Git</a>
                                </li>
                            </ul>
                            <a href="/media/1020/apichairesume.pdf" class="button" target="_blank"><i class="fa fa-file" aria-hidden="true"></i> Download Resume</a>
                        </div>
                       
                        <div class="col-md-7">
                            <h2>Apichai Ruttana</h2>
                            <p>If you can’t fly then run, if you can’t run then walk, if you can’t walk then crawl, but whatever you do you have to keep moving forward.</p>
                            <ul>
                                <li>
                                    <span>Postion</span>
                                    CTO & SOFTWARE ENGINEER
                                </li>
                                <li>
                                    <span>Email</span>
                                    apichai.ruttana@cnxdevsoft.com
                                </li>
                                <li>
                                    <span>Tel</span>
                                    097-1101300
                                </li>
                                <li>
                                    <span>Technologies</span>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> .NET(C#), .NET Core(C#)</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> SQL, SQL Server, Entity Framework, Linq</li>
                                    <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> AngularJs, HTML, JS, CSS </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>

   
    </div>
 
 
 }