@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
}

 @section MainContent{
 
  <div class="intro-page">
        <div class="container">
            <h1>CNXDevSoft Team</h1>
            <p>We are the best team of software engineer</p>
        </div>
    </div>

    <div class="wrapper">
        <article>
            <div class="container">
                <div class="single-portfolio">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="single-portfolio--slider">
                                <div>
                                    <img src="http://www.cnxdevsoft.com/media/1008/patompol-1.jpg" alt="">
                                </div>
                               
                            </div>
                            <div class="single-portfolio--slider__dots"></div>
                            <br/>
                            <ul> 
                                <li>
                                    <span>GitHub</span>
                                    <a href="https://github.com/tung1401?tab=repositories" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Visit My Git</a>
                                </li>
                            </ul>
                            <a href="http://www.cnxdevsoft.com/media/1034/patompol-cv-full.pdf" class="button" target="_blank"><i class="fa fa-file" aria-hidden="true"></i> Download Resume</a>
                        </div>
                        <div class="col-md-7">
                            <h2>Patompol Taesuji</h2>
                            <p>I'm Software Engineer who I can manage and lead the team to find the best solution, solove problem and develop software: 
                            High Quality, Fast Delivery and Work Proactive<br>
                            
                            </p>
                            <b>Experience:</b> Research for solution, Design Database, Implement Web Application, Web Api, Report and Deployment
                            <ul>
                                <li>
                                    <span>Position</span>
                                    CEO & Software Engineer
                                </li>
                                 <li>
                                    <span>Email</span>
                                    patompoltsj@cnxdevsoft.com
                                </li>
                                <li>
                                    <span>Tel</span>
                                    0931838823
                                </li>
                                <li>
                                    <span>Technologies</span>
                                    <br/>
                                    <ul>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> .NET(C#), .NET Core(C#), .NET WEB FORM(C#)</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> EntityFramework, Linq, Unit Test</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Python, Java</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Azure, Azure Devops, Logic App, Azure Function</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> MicroServices, Domain Driven Design, Design Pattern</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> NodeJs, Docker</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> SQL Server, MySql, Postgres</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> HTML, CSS, Bootstrap, AngularJs, VueJs</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Google Platform API</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Telerik Report, Power BI, Tableau</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Garmin Api, Fitbit Api, Strava Api, Google Fit Api</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> JIRA, GitHub, GitLab, Bitbucket</li>
                                    </ul>
                                </li>
                                
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
 }