@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Layout.cshtml";
}

 @section MainContent{
 
  <div class="intro-page">
        <div class="container">
            <h1>CNXDevSoft Team</h1>
            <p>We are the best team of software engineer</p>
        </div>
    </div>

    <div class="wrapper">
        <article>
            <div class="container">
                <div class="single-portfolio">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="single-portfolio--slider">
                                <div>
                                    <img src="/media/1046/big.jpg" alt="">
                                </div>
                               
                            </div>
                            <div class="single-portfolio--slider__dots"></div>
                            <br/>
                            <ul> 
                                <li>
                                    <span>GitHub</span>
                                    <a href="#" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Visit My Git</a>
                                </li>
                            </ul>
                            <a href="#" class="button" target="_blank"><i class="fa fa-file" aria-hidden="true"></i> Download Resume</a>
                        </div>
                        <div class="col-md-7">
                            <h2>PASSAKORN BUADEE</h2>
                            <p>Push the world forward with technology<br>
                            
                            </p>
                            <b>Experience:</b> Implement Web App/API/Mobile/Desktop/Database/Cloud/IOT application and config DevOps
                            <ul>
                                <li>
                                    <span>Position</span>
                                    CTO & Software Engineer & DevOps Engineer
                                </li>
                                 <li>
                                    <span>Email</span>
                                    passakorn.buadee@cnxdevsoft.com
                                </li>
                                <li>
                                    <span>Tel</span>
                                    0-882-665-610
                                </li>
                                <li>
                                    <span>Technologies</span>
                                    <br/>
                                    <ul>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> .NET Framework(C#), .NET Core(C#), .NET WEB FORM(C#), .NET WPF(C#)</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> EntityFramework, Linq, Unit Test</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Python, Java</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Azure, Azure Devops, Appcenter, Logic App, Azure Function, Azure Active Directory, Microsoft Graph</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> MicroServices, Domain Driven Design, Design Pattern</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> NodeJs, Docker, Azure Kubernetes</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> SQL Server, MySql, Postgres</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> HTML, CSS, Bootstrap, AngularJs, VueJs, Blazor</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Google Platform API</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Telerik Report, Power BI, Tableau</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Garmin Api, Fitbit Api, Strava Api, Google Fit Api</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> JIRA, GitHub, GitLab, Bitbucket, Azure Repo</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Xamarin Mobile (Android/iOS), Xamarin IOT(Tizen-Galaxy Watch)</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> IOT protocol(TP-Link)</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> ID Card Reader (Thai ID Card)</li>
                                        <li><i class="fa fa-check-circle" style="color:darkorange;" aria-hidden="true"></i> Cognitive Service, Face Recognition, E-KYC</li>
                                    </ul>
                                </li>
                                
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
 }