@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Print - LOGO</title>
	
	<style> 
	body {
    margin: 0;
    padding: 0;
}
	img{
	width: 85%;
	}
	</style>
	
	
</head>

<body class="home blog" data-twttr-rendered="true">

@for(int i = 0; i < 64; i++)
{
<div style=" border: 1px dashed black;
    display: inline-block;
    font-family: Tahoma;
    font-size: 12px;
    height: 75px;
    padding: 0 3px;
    position: relative;
    width: 109px;
    ">
	
	<img src="/media/1009/dee2.png"  style="  height: 30px;
    width: 90%;"/>
	<div style="display: inline; font-size: 9px; position: absolute; top: 25px; left: 85px;">ดี-จ้า</div>	
	<div style="font-size: 13px;">@Umbraco.Field("name")</div>	
	<div>ราคา: @Umbraco.Field("price")</div>
	<span style="font-size: 9px; position: relative; top: -4px;">Exp: @Umbraco.Field("expireDate")</span>
	@if(Umbraco.Field("barCode") != null)
	{
		<span style="font-size: 9px; position: relative; top: -4px;">(@Umbraco.Field("barCode"))</span>
	}
	
</div>	
}

  
</body>


</html>