@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
 <section class="partners">
            <div class="container">
                <h2>Great Technology Integrations with:</h2>
                <p></p>
                <span class="dot-dash dark">.</span>
                <div class="partners--container">
                    <div class="partners--item">
                        <div class="imgTech">
                            <img src="/media/1011/logo_asp45.png" alt="" >
                        </div>
                    </div>
                    <div class="partners--item">
                        <div class="imgTech">
                            <img src="http://www.cnxdevsoft.com/media/1012/netcorelogo.png" alt="" style="height: 100px;">
                        </div>
                    </div>
                    <div class="partners--item">
                        <div class="imgTech" style="display:block">
                            <img src="http://www.cnxdevsoft.com/media/1013/angularlogo.png" alt="" style="height: 100px;">
                        </div>
                    </div>
                 
                    <div class="partners--item">
                        <div class="imgTech" style="display:block">
                            <img src="http://www.cnxdevsoft.com/media/1014/images.jpg" alt="" style="height: 100px;">
                        </div>
                    </div>
                       <div class="partners--item">
                        <div class="imgTech">
                            <img src="http://www.cnxdevsoft.com/media/1016/sql.jpg" alt="" style="height:100px;">
                        </div>
                    </div>
                         <div class="partners--item">
                        <div class="imgTech">
                            <img src="http://www.cnxdevsoft.com/media/1017/azure.png" alt="" style="height: 100px;">
                        </div>
                    </div>
                       <div class="partners--item">
                        <div class="imgTech">
                            <img src="http://www.cnxdevsoft.com/media/1015/nodejs.png" alt="NodeJS" style="height: 100px;">
                        </div>
                    </div>
                  <div class="partners--item">
                        <div class="imgTech">
                            <img src="http://www.cnxdevsoft.com/media/1043/image.png" alt="Azure DevOps" >
                        </div>
                    </div>
                     <div class="partners--item">
                        <div class="imgTech">
                            <img src="http://www.cnxdevsoft.com/media/1019/xamarin.png" alt="xamarin" >
                        </div>
                    </div>
                   <div class="partners--item">
                        <div class="imgTech">
                            <img src="http://www.cnxdevsoft.com/media/1018/umbraco-logo-white-background.png" alt="" >
                        </div>
                    </div>
                     <div class="partners--item">
                        <div class="" style="vertical-align: middle;height: 100px; display: table-cell;">
                            <img src="http://www.cnxdevsoft.com/media/1055/adp.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <style>
            .imgTech{
                vertical-align: middle;height: 100px; display: table-cell;
            }
            
            
        </style>