@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<div class="slider" id="Slide"> 	
		<div class="wrap">
				<!---start-da-slider----->@*
			<ul id="da-slider" class="da-slider">
				<li class="da-slide">
					<img alt="dev_soft" src="/images/cnx_dev_soft.jpg">
				</li>
				<li class="da-slide">
					<img alt="services" src="/images/cnx-services.jpg">
				</li>
				<li class="da-slide">
					<img alt="umbraco_net" src="/images/cnx_umbraco_net.jpg">
				
				</li>
				<li class="da-slide">
					<img alt="seo" src="/images/cnx_seo.jpg">
				
				</li>
			</ul>*@
		
			<ul class="bxslider">
				@*<li >
					<img alt="CNX develop software | ทีมพัฒนาเว็บ รับทำเว็บไซต์ ออกแบบเว็บไซด์ ราคาถูก เชียงใหม่" src="/images/cnx_dev_soft.jpg">
				</li>
				<li >
					<img alt="CNX develop software | ทีมพัฒนาเว็บ ออกแบบกราฟิค โลโก้ ราคาถูก เชียงใหม่" src="/images/cnx-service.jpg">
				</li>
				<li >
					<img alt="CNX develop software | ทีมพัฒนาเว็บ ASP.NET C# UMBRACO CMS ราคาถูก เชียงใหม่" src="/images/cnx_umbraco_net.jpg">
				
				</li>
				<li >
					<img alt="CNX develop software | ทีมพัฒนาเว็บ รับทำ SEO  ราคาถูก เชียงใหม่" src="/images/cnx_seo.jpg">
				
				</li>*@
				@foreach(var item in Model.Content.GetPropertyValue("sliderpicture").ToString().Split(',')) { 
					<li><img src="@Umbraco.Media(item).umbracoFile" alt="CNX develop software | ทีมพัฒนาเว็บ รับทำเว็บไซต์ ออกแบบเว็บไซด์ ราคาถูก เชียงใหม่"></li>
				 }
			</ul>
					 
			
		</div>
	</div><!--End slider-->
</div>