<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT language ANY>
<!ATTLIST language id ID #REQUIRED>
<!ELEMENT layout ANY>
<!ATTLIST layout id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
]>
<root id="-1">
  <language id="1056" key="3d2d9c55-3cd4-4da4-aff6-7a3299069589" parentID="-1" level="1" creatorID="2" sortOrder="0" createDate="2020-01-04T15:22:05" updateDate="2020-01-04T15:29:20" nodeName="EN" urlName="en" path="-1,1056" isDoc="" nodeType="1051" creatorName="Patiwat Phewlaong" writerName="patompol taesuji" writerID="3" template="0" nodeTypeAlias="language" isPublished="true">
    <umbracoRedirect><![CDATA[umb://document/cc96868f03a24acfbc71b91a0d9d9a73]]></umbracoRedirect>
    <homePage id="1059" key="cc96868f-03a2-4acf-bc71-b91a0d9d9a73" parentID="1056" level="2" creatorID="2" sortOrder="0" createDate="2020-01-04T15:23:07" updateDate="2020-01-04T15:43:54" nodeName="Home" urlName="home" path="-1,1056,1059" isDoc="" nodeType="1055" creatorName="Patiwat Phewlaong" writerName="Patiwat Phewlaong" writerID="2" template="1054" nodeTypeAlias="homePage" isPublished="true" />
    <contactPage id="1065" key="f8cae193-a36a-4d26-ad0d-c2b8806bc870" parentID="1056" level="2" creatorID="2" sortOrder="1" createDate="2020-01-04T15:35:12" updateDate="2020-01-04T15:46:45" nodeName="Contact" urlName="contact" path="-1,1056,1065" isDoc="" nodeType="1064" creatorName="Patiwat Phewlaong" writerName="Patiwat Phewlaong" writerID="2" template="1063" nodeTypeAlias="contactPage" isPublished="true" />
    <contentPage id="1068" key="53e1ea95-5036-4a45-a295-cbfdfb07a97f" parentID="1056" level="2" creatorID="3" sortOrder="2" createDate="2020-01-04T15:47:37" updateDate="2020-01-09T13:04:53" nodeName="Map" urlName="map" path="-1,1056,1068" isDoc="" nodeType="1062" creatorName="patompol taesuji" writerName="patompol taesuji" writerID="3" template="1061" nodeTypeAlias="contentPage" isPublished="true" />
    <contentPage id="1073" key="116484c2-08e1-42ef-b0be-af61782aba30" parentID="1056" level="2" creatorID="2" sortOrder="3" createDate="2020-01-04T16:15:47" updateDate="2020-01-04T16:15:47" nodeName="About" urlName="about" path="-1,1056,1073" isDoc="" nodeType="1062" creatorName="Patiwat Phewlaong" writerName="Patiwat Phewlaong" writerID="2" template="1072" nodeTypeAlias="contentPage" isPublished="true">
      <contentPage id="1095" key="12d728ce-e12a-4c2f-a719-9170eb1b08f0" parentID="1073" level="3" creatorID="3" sortOrder="0" createDate="2020-01-04T17:48:30" updateDate="2020-01-04T17:49:48" nodeName="Patiwat" urlName="patiwat" path="-1,1056,1073,1095" isDoc="" nodeType="1062" creatorName="patompol taesuji" writerName="patompol taesuji" writerID="3" template="1094" nodeTypeAlias="contentPage" isPublished="true" />
      <contentPage id="1114" key="e4b6b9d4-086d-4741-b450-f7fb42a51c49" parentID="1073" level="3" creatorID="0" sortOrder="1" createDate="2020-01-04T19:41:23" updateDate="2020-01-04T19:41:23" nodeName="Patompol" urlName="patompol" path="-1,1056,1073,1114" isDoc="" nodeType="1062" creatorName="Patompol Taesuji" writerName="Patompol Taesuji" writerID="0" template="1097" nodeTypeAlias="contentPage" isPublished="true" />
      <contentPage id="1115" key="c074a0a0-a1a6-4b2b-9902-cb0a458a63be" parentID="1073" level="3" creatorID="0" sortOrder="2" createDate="2020-01-04T19:41:42" updateDate="2020-01-04T19:41:42" nodeName="Apichai" urlName="apichai" path="-1,1056,1073,1115" isDoc="" nodeType="1062" creatorName="Patompol Taesuji" writerName="Patompol Taesuji" writerID="0" template="1096" nodeTypeAlias="contentPage" isPublished="true" />
      <contentPage id="1135" key="cd3ead01-8256-49be-8a9a-19bdf428ca9e" parentID="1073" level="3" creatorID="3" sortOrder="3" createDate="2020-01-08T21:35:55" updateDate="2020-01-08T21:35:55" nodeName="Passakorn" urlName="passakorn" path="-1,1056,1073,1135" isDoc="" nodeType="1062" creatorName="patompol taesuji" writerName="patompol taesuji" writerID="3" template="1134" nodeTypeAlias="contentPage" isPublished="true" />
      <contentPage id="1144" key="a256b0ba-e168-49ab-ac7e-77a6bcd637c5" parentID="1073" level="3" creatorID="5" sortOrder="4" createDate="2020-01-19T11:59:33" updateDate="2020-01-19T15:50:04" nodeName="Phornthep" urlName="phornthep" path="-1,1056,1073,1144" isDoc="" nodeType="1062" creatorName="phornthep chooleat" writerName="phornthep chooleat" writerID="5" template="1143" nodeTypeAlias="contentPage" isPublished="true" />
    </contentPage>
    <contentPage id="1078" key="e1798437-a43f-48c4-a6af-6ee6533bc748" parentID="1056" level="2" creatorID="3" sortOrder="4" createDate="2020-01-04T16:22:53" updateDate="2020-01-04T16:22:53" nodeName="Portfolio" urlName="portfolio" path="-1,1056,1078" isDoc="" nodeType="1062" creatorName="patompol taesuji" writerName="patompol taesuji" writerID="3" template="1075" nodeTypeAlias="contentPage" isPublished="true" />
    <contentPage id="1142" key="0dd428c6-4bc6-4232-9d5d-f44c0f0a68aa" parentID="1056" level="2" creatorID="0" sortOrder="5" createDate="2020-01-17T11:34:26" updateDate="2020-01-17T11:34:26" nodeName="Exce" urlName="exce" path="-1,1056,1142" isDoc="" nodeType="1062" creatorName="Patompol Taesuji" writerName="Patompol Taesuji" writerID="0" template="1141" nodeTypeAlias="contentPage" isPublished="true" />
  </language>
  <language id="1057" key="7f0ccb29-154b-4a2c-8a81-a5d108f3add9" parentID="-1" level="1" creatorID="2" sortOrder="1" createDate="2020-01-04T15:22:20" updateDate="2020-01-04T15:22:20" nodeName="TH" urlName="th" path="-1,1057" isDoc="" nodeType="1051" creatorName="Patiwat Phewlaong" writerName="Patiwat Phewlaong" writerID="2" template="0" nodeTypeAlias="language" isPublished="true" />
</root>